# Environment / secrets
.env
.env.*
!.env.example

# Private keys
*.pem
*.ppk
*.key
*.p12
*.crt

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/
dbt_venv/

# dbt
target/
dbt_packages/
logs/

# Streamlit
.streamlit/secrets.toml

# Local AI cache
*.parquet

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

data/creds
.env
*.pem
*.key
